In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz

In [ ]:
!tar xf spark-3.1.2-bin-hadoop2.7.tgz

In [ ]:
!pip install -q findspark

In [ ]:
!pip install -q pyspark

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [ ]:
import os
os.environ['JAVA_HOME'] = '/usr/lib/jvm/java-8-openjdk-amd64'
os.environ['SPARK_HOME'] = '/content/spark-3.1.2-bin-hadoop2.7'

In [ ]:
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
                    .master('local[*]')\
                    .appName('Spark03')\
                    .getOrCreate()

driver.csv

In [ ]:
path = '/content/Formula1/drivers.csv'
dataframe1 = spark.read.csv(path, sep=',', inferSchema=True, header=True)

In [ ]:
dataframe1 = dataframe1.drop('url')
dataframe1 = dataframe1.drop('number')
dataframe1 = dataframe1.drop('driverRef')

In [ ]:
dataframe1 = dataframe1\
.toDF('id_piloto',  'codigo', 'prim_nome', 'ult_nome', 'dt_nasc', 'nacionalidade_piloto')

In [ ]:
dataframe1.show()

+---------+------+---------+----------+----------+--------------------+
|id_piloto|codigo|prim_nome|  ult_nome|   dt_nasc|nacionalidade_piloto|
+---------+------+---------+----------+----------+--------------------+
|        1|   HAM|    Lewis|  Hamilton|1985-01-07|             British|
|        2|   HEI|     Nick|  Heidfeld|1977-05-10|              German|
|        3|   ROS|     Nico|   Rosberg|1985-06-27|              German|
|        4|   ALO| Fernando|    Alonso|1981-07-29|             Spanish|
|        5|   KOV|   Heikki|Kovalainen|1981-10-19|             Finnish|
|        6|   NAK|   Kazuki|  Nakajima|1985-01-11|            Japanese|
|        7|   BOU|Sébastien|  Bourdais|1979-02-28|              French|
|        8|   RAI|     Kimi| Räikkönen|1979-10-17|             Finnish|
|        9|   KUB|   Robert|    Kubica|1984-12-07|              Polish|
|       10|   GLO|     Timo|     Glock|1982-03-18|              German|
|       11|   SAT|   Takuma|      Sato|1977-01-28|            Japanese|
|       12|   PIQ|   Nelson|Piquet Jr.|1985-07-25|           Brazilian|
|       13|   MAS|   Felipe|     Massa|1981-04-25|           Brazilian|
|       14|   COU|    David| Coulthard|1971-03-27|             British|
|       15|   TRU|    Jarno|    Trulli|1974-07-13|             Italian|
|       16|   SUT|   Adrian|     Sutil|1983-01-11|              German|
|       17|   WEB|     Mark|    Webber|1976-08-27|          Australian|
|       18|   BUT|   Jenson|    Button|1980-01-19|             British|
|       19|   DAV|  Anthony|  Davidson|1979-04-18|             British|
|       20|   VET|Sebastian|    Vettel|1987-07-03|              German|
+---------+------+---------+----------+----------+--------------------+
only showing top 20 rows

contructor.csv

In [ ]:
path = '/content/Formula1/constructors.csv'
dataframe2 = spark.read.csv(path, sep=',', inferSchema=True, header=True)

In [ ]:
dataframe2 = dataframe2.drop('constructorRef')
dataframe2 = dataframe2.drop('url')

In [ ]:
dataframe2 = dataframe2\
.toDF('id_construtor',  'nome_equipe', 'nacionalidade_equipe')

In [ ]:
dataframe2.show()

+-------------+-----------+--------------------+
|id_construtor|nome_equipe|nacionalidade_equipe|
+-------------+-----------+--------------------+
|            1|    McLaren|             British|
|            2| BMW Sauber|              German|
|            3|   Williams|             British|
|            4|    Renault|              French|
|            5| Toro Rosso|             Italian|
|            6|    Ferrari|             Italian|
|            7|     Toyota|            Japanese|
|            8|Super Aguri|            Japanese|
|            9|   Red Bull|            Austrian|
|           10|Force India|              Indian|
|           11|      Honda|            Japanese|
|           12|     Spyker|               Dutch|
|           13|        MF1|             Russian|
|           14| Spyker MF1|               Dutch|
|           15|     Sauber|               Swiss|
|           16|        BAR|             British|
|           17|     Jordan|               Irish|
|           18|    Minardi|             Italian|
|           19|     Jaguar|             British|
|           20|      Prost|              French|
+-------------+-----------+--------------------+
only showing top 20 rows

results.csv

In [ ]:
path = '/content/Formula1/results.csv'
dataframe3 = spark.read.csv(path, sep=',', inferSchema=True, header=True)

In [ ]:
dataframe3 = dataframe3.drop('resultId', 'number',
            'grid', 'positionText', 'positionOrder', 'points',
            'laps', 'time', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
            'fastestLapSpeed', 'statusId')

In [ ]:
dataframe3 = dataframe3\
.toDF('id_corrida',  'id_piloto', 'id_construtor', 'posicao')

In [ ]:
dataframe3.show()

+----------+---------+-------------+-------+
|id_corrida|id_piloto|id_construtor|posicao|
+----------+---------+-------------+-------+
|        18|        1|            1|      1|
|        18|        2|            2|      2|
|        18|        3|            3|      3|
|        18|        4|            4|      4|
|        18|        5|            1|      5|
|        18|        6|            3|      6|
|        18|        7|            5|      7|
|        18|        8|            6|      8|
|        18|        9|            2|     \N|
|        18|       10|            7|     \N|
|        18|       11|            8|     \N|
|        18|       12|            4|     \N|
|        18|       13|            6|     \N|
|        18|       14|            9|     \N|
|        18|       15|            7|     \N|
|        18|       16|           10|     \N|
|        18|       17|            9|     \N|
|        18|       18|           11|     \N|
|        18|       19|            8|     \N|
|        18|       20|            5|     \N|
+----------+---------+-------------+-------+
only showing top 20 rows

races.csv

In [ ]:
path = '/content/Formula1/races.csv'
dataframe4 = spark.read.csv(path, sep=',', inferSchema=True, header=True)

In [ ]:
dataframe4 = dataframe4.drop('circuitId', 'name', 'date', 'time', 'url',
                           'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time',
                           'fp3_date', 'fp3_time', 'quali_date', 'quali_time',
                           'sprint_date', 'sprint_time')

In [ ]:
dataframe4 = dataframe4\
.toDF('id_corrida',  'ano', 'etapa')

In [ ]:
dataframe4.show()

+----------+----+-----+
|id_corrida| ano|etapa|
+----------+----+-----+
|         1|2009|    1|
|         2|2009|    2|
|         3|2009|    3|
|         4|2009|    4|
|         5|2009|    5|
|         6|2009|    6|
|         7|2009|    7|
|         8|2009|    8|
|         9|2009|    9|
|        10|2009|   10|
|        11|2009|   11|
|        12|2009|   12|
|        13|2009|   13|
|        14|2009|   14|
|        15|2009|   15|
|        16|2009|   16|
|        17|2009|   17|
|        18|2008|    1|
|        19|2008|    2|
|        20|2008|    3|
+----------+----+-----+
only showing top 20 rows

Juntando as tabelas

In [ ]:
dataframe5 = (dataframe1.join(dataframe3, 'id_piloto', how='outer').orderBy('id_piloto'))
dataframe5.show(10)

In [ ]:
dataframe6 = (dataframe5.join(dataframe2, 'id_construtor', how='outer'))
dataframe6.show()

In [ ]:
Tabela_f1 = (dataframe6.join(dataframe4, 'id_corrida', how='outer'))
Tabela_f1.show()

+----------+-------------+---------+------+---------+-------------+----------+--------------------+-------+-----------+--------------------+----+-----+
|id_corrida|id_construtor|id_piloto|codigo|prim_nome|     ult_nome|   dt_nasc|nacionalidade_piloto|posicao|nome_equipe|nacionalidade_equipe| ano|etapa|
+----------+-------------+---------+------+---------+-------------+----------+--------------------+-------+-----------+--------------------+----+-----+
|       148|           22|       21|   FIS|Giancarlo|   Fisichella|1973-01-14|             Italian|     \N|   Benetton|             Italian|2001|    8|
|       148|           22|       18|   BUT|   Jenson|       Button|1980-01-19|             British|     \N|   Benetton|             Italian|2001|    8|
|       148|            1|       57|    \N|     Mika|     Häkkinen|1968-09-28|             Finnish|      3|    McLaren|             British|2001|    8|
|       148|            1|       14|   COU|    David|    Coulthard|1971-03-27|             British|     \N|    McLaren|             British|2001|    8|
|       148|            6|       22|   BAR|   Rubens|  Barrichello|1972-05-23|           Brazilian|     \N|    Ferrari|             Italian|2001|    8|
|       148|            6|       30|   MSC|  Michael|   Schumacher|1969-01-03|              German|      2|    Ferrari|             Italian|2001|    8|
|       148|           16|       44|    \N|  Olivier|        Panis|1966-09-02|              French|     \N|        BAR|             British|2001|    8|
|       148|           16|       35|   VIL|  Jacques|   Villeneuve|1971-04-09|            Canadian|     \N|        BAR|             British|2001|    8|
|       148|            3|       31|   MON|     Juan|Pablo Montoya|1975-09-20|           Colombian|     \N|   Williams|             British|2001|    8|
|       148|            3|       23|   SCH|     Ralf|   Schumacher|1975-06-30|              German|      1|   Williams|             British|2001|    8|
|       148|           20|       54|    \N|  Luciano|        Burti|1975-03-05|           Brazilian|      8|      Prost|              French|2001|    8|
|       148|           20|       55|    \N|     Jean|        Alesi|1964-06-11|              French|      5|      Prost|              French|2001|    8|
|       148|           19|       37|   DLR|    Pedro|   de la Rosa|1971-02-24|             Spanish|      6|     Jaguar|             British|2001|    8|
|       148|           19|       56|    \N|    Eddie|       Irvine|1965-11-10|             British|     \N|     Jaguar|             British|2001|    8|
|       148|           15|        8|   RAI|     Kimi|    Räikkönen|1979-10-17|             Finnish|      4|     Sauber|               Swiss|2001|    8|
|       148|           15|        2|   HEI|     Nick|     Heidfeld|1977-05-10|              German|     \N|     Sauber|               Swiss|2001|    8|
|       148|           17|       41|   ZON|  Ricardo|        Zonta|1976-03-23|           Brazilian|      7|     Jordan|               Irish|2001|    8|
|       148|           17|       15|   TRU|    Jarno|       Trulli|1974-07-13|             Italian|     11|     Jordan|               Irish|2001|    8|
|       148|           21|       59|    \N|  Enrique|     Bernoldi|1978-10-19|           Brazilian|     \N|     Arrows|             British|2001|    8|
|       148|           21|       50|    \N|      Jos|   Verstappen|1972-03-04|               Dutch|     10|     Arrows|             British|2001|    8|
+----------+-------------+---------+------+---------+-------------+----------+--------------------+-------+-----------+--------------------+----+-----+
only showing top 20 rows

### **Consultas**

Lista de todas as equipes.

In [ ]:
dataframe2.select('nome_equipe', 'nacionalidade_equipe')\
            .orderBy('nome_equipe', ascending=True)\
            .show()

+-----------------+--------------------+
|      nome_equipe|nacionalidade_equipe|
+-----------------+--------------------+
|              AFM|              German|
|              AGS|              French|
|              ATS|             Italian|
|            Adams|            American|
|       Alfa Romeo|               Swiss|
|       AlphaTauri|             Italian|
|   Alpine F1 Team|              French|
|             Alta|             British|
|             Amon|       New Zealander|
|      Andrea Moda|             Italian|
|          Apollon|               Swiss|
|           Arrows|             British|
|   Arzani-Volpini|             Italian|
|Aston Butterworth|             British|
|     Aston Martin|             British|
|              BAR|             British|
|              BMW|              German|
|       BMW Sauber|              German|
|              BRM|             British|
|         BRM-Ford|             British|
+-----------------+--------------------+
only showing top 20 rows

Lista de todas os pilotos da Ferrari

In [ ]:
Tabela_f1.select('prim_nome', 'ult_nome', 'nacionalidade_piloto')\
          .where("nome_equipe == 'Ferrari'").show()

+---------+---------+--------------------+
|prim_nome| ult_nome|nacionalidade_piloto|
+---------+---------+--------------------+
|     Kimi|Räikkönen|             Finnish|
|   Felipe|    Massa|           Brazilian|
|     Kimi|Räikkönen|             Finnish|
|   Felipe|    Massa|           Brazilian|
|   Felipe|    Massa|           Brazilian|
|     Kimi|Räikkönen|             Finnish|
|     Kimi|Räikkönen|             Finnish|
|   Felipe|    Massa|           Brazilian|
|   Felipe|    Massa|           Brazilian|
|     Kimi|Räikkönen|             Finnish|
|   Felipe|    Massa|           Brazilian|
|     Kimi|Räikkönen|             Finnish|
|   Felipe|    Massa|           Brazilian|
|     Kimi|Räikkönen|             Finnish|
|   Felipe|    Massa|           Brazilian|
|     Kimi|Räikkönen|             Finnish|
|     Kimi|Räikkönen|             Finnish|
|   Felipe|    Massa|           Brazilian|
|   Felipe|    Massa|           Brazilian|
|     Kimi|Räikkönen|             Finnish|
+---------+---------+--------------------+
only showing top 20 rows

Os 6 primeiro colocados e 1993

In [ ]:
Tabela_f1.select('posicao', 'prim_nome', 'ult_nome', 'nacionalidade_piloto')\
          .where("ano == '1993'").show(6)

+-------+---------+----------+--------------------+
|posicao|prim_nome|  ult_nome|nacionalidade_piloto|
+-------+---------+----------+--------------------+
|      1|    Damon|      Hill|             British|
|      2|     Jean|     Alesi|              French|
|      3|  Michael|  Andretti|            American|
|      4|     Karl|Wendlinger|            Austrian|
|      5| Riccardo|   Patrese|             Italian|
|      6|     Érik|     Comas|              French|
+-------+---------+----------+--------------------+
only showing top 6 rows

Pilotos que não terminaram em 1993

In [ ]:
Tabela_f1.select('prim_nome','ult_nome','nacionalidade_piloto')\
        .where("posicao like '%N'AND ano == '1993'").show()

+----------+-----------+--------------------+
| prim_nome|   ult_nome|nacionalidade_piloto|
+----------+-----------+--------------------+
|    Martin|    Brundle|             British|
|   Michele|   Alboreto|             Italian|
|      Érik|      Comas|              French|
|  Riccardo|    Patrese|             Italian|
|   Michael| Schumacher|              German|
|    Johnny|    Herbert|             British|
|      Karl| Wendlinger|            Austrian|
|    Rubens|Barrichello|           Brazilian|
|      Jean|      Alesi|              French|
|  Philippe|     Alliot|              French|
|  Fabrizio|   Barbazza|             Italian|
|     Aguri|     Suzuki|            Japanese|
|      Luca|     Badoer|             Italian|
|     Damon|       Hill|             British|
|Alessandro|    Zanardi|             Italian|
|   Michael|   Andretti|            American|
|      Ivan|    Capelli|             Italian|
|      Ukyo|   Katayama|            Japanese|
|    Andrea| de Cesaris|             Italian|
|      Karl| Wendlinger|            Austrian|
+----------+-----------+--------------------+
only showing top 20 rows

Todos os vencedores da história dos GP's do Brasil

In [ ]:
Tabela_f1.select('prim_nome','ult_nome','nacionalidade_piloto')\
              .where("posicao == '1'").show()

+---------+----------+--------------------+
|prim_nome|  ult_nome|nacionalidade_piloto|
+---------+----------+--------------------+
|    Lewis|  Hamilton|             British|
|     Kimi| Räikkönen|             Finnish|
|   Felipe|     Massa|           Brazilian|
|     Kimi| Räikkönen|             Finnish|
|   Felipe|     Massa|           Brazilian|
|    Lewis|  Hamilton|             British|
|   Robert|    Kubica|              Polish|
|   Felipe|     Massa|           Brazilian|
|    Lewis|  Hamilton|             British|
|    Lewis|  Hamilton|             British|
|   Heikki|Kovalainen|             Finnish|
|   Felipe|     Massa|           Brazilian|
|   Felipe|     Massa|           Brazilian|
|Sebastian|    Vettel|              German|
| Fernando|    Alonso|             Spanish|
| Fernando|    Alonso|             Spanish|
|    Lewis|  Hamilton|             British|
|   Felipe|     Massa|           Brazilian|
|     Kimi| Räikkönen|             Finnish|
| Fernando|    Alonso|             Spanish|
+---------+----------+--------------------+
only showing top 20 rows

Vencedor de cada corrida, com nome e data da corrida.

In [ ]:
Tabela_f1.select('prim_nome','ult_nome','ano').where('posicao == 1').show()

+---------+----------+----+
|prim_nome|  ult_nome| ano|
+---------+----------+----+
|    Lewis|  Hamilton|2008|
|     Kimi| Räikkönen|2008|
|   Felipe|     Massa|2008|
|     Kimi| Räikkönen|2008|
|   Felipe|     Massa|2008|
|    Lewis|  Hamilton|2008|
|   Robert|    Kubica|2008|
|   Felipe|     Massa|2008|
|    Lewis|  Hamilton|2008|
|    Lewis|  Hamilton|2008|
|   Heikki|Kovalainen|2008|
|   Felipe|     Massa|2008|
|   Felipe|     Massa|2008|
|Sebastian|    Vettel|2008|
| Fernando|    Alonso|2008|
| Fernando|    Alonso|2008|
|    Lewis|  Hamilton|2008|
|   Felipe|     Massa|2008|
|     Kimi| Räikkönen|2007|
| Fernando|    Alonso|2007|
+---------+----------+----+
only showing top 20 rows

Total de corridas realizadas no ano de 2010.

In [ ]:
dataframe4.groupBy('ano').count().where('ano == 2010').show()

+----+-----+
| ano|count|
+----+-----+
|2010|   19|
+----+-----+

Total de pontos de cada piloto (somando todas as temporadas), com aniversário e nacionalidade.

In [ ]:
path = '/content/Formula1/driver_standings.csv'
df_driverstand = spark.read.csv(path, sep=',', inferSchema=True, header=True)

In [ ]:
from pyspark.sql.functions import col, sum
dataframe1.join(df_driverstand, col('id_piloto') == col('driverId'), how = 'inner')\
.groupBy('prim_nome', 'ult_nome', 'dt_nasc', 'nacionalidade_piloto')\
.agg(sum('points'))\
.show()

+---------+--------+----------+--------------------+-----------+
|prim_nome|ult_nome|   dt_nasc|nacionalidade_piloto|sum(points)|
+---------+--------+----------+--------------------+-----------+
|   Johnny| Herbert|1964-06-25|             British|      876.0|
| Fabrizio|Barbazza|1963-04-02|             Italian|       27.0|
|     Keke| Rosberg|1948-12-06|             Finnish|     1373.5|
|   Hubert|   Hahne|1935-03-28|              German|        0.0|
|     Phil|    Hill|1927-04-20|            American|      470.0|
|   George|  Connor|1906-08-16|            American|        0.0|
|     John|  Rhodes|1927-08-18|             British|        0.0|
|  Giorgio|   Bassi|1934-01-20|             Italian|        0.0|
|      Pat|O'Connor|1928-10-09|            American|        0.0|
|    Logan|Sargeant|2000-12-31|            American|        0.0|
|  Richard| Robarts|1944-09-22|             British|        0.0|
|    Chris|Lawrence|1933-07-27|             British|        0.0|
|    Keith|  Greene|1938-01-05|             British|        0.0|
|    Mauri|    Rose|1906-05-26|            American|       20.0|
|      Rio|Haryanto|1993-01-22|          Indonesian|        0.0|
|   Julian|  Bailey|1961-10-09|             British|       14.0|
|   Helmut|   Marko|1943-04-27|            Austrian|        0.0|
|    Oscar|  Gálvez|1913-08-17|           Argentine|       18.0|
|  Charles|     Pic|1990-02-15|              French|        0.0|
|  Esteban|   Tuero|1978-04-22|           Argentine|        0.0|
+---------+--------+----------+--------------------+-----------+
only showing top 20 rows

Total de vitorias de cada piloto em toda a historia, com primeiro nome, ultimo nome, aniversário e nacionalidade.

In [ ]:
Tabela_f1.where('posicao == 1').groupBy('prim_nome','ult_nome','dt_nasc', 'nacionalidade_piloto').count().show()

+------------+----------+----------+--------------------+-----+
|   prim_nome|  ult_nome|   dt_nasc|nacionalidade_piloto|count|
+------------+----------+----------+--------------------+-----+
|      Johnny|   Herbert|1964-06-25|             British|    3|
|        Keke|   Rosberg|1948-12-06|             Finnish|    5|
|        Phil|      Hill|1927-04-20|            American|    3|
|         Jim|  Rathmann|1928-07-16|            American|    1|
|      Gilles|Villeneuve|1950-01-18|            Canadian|    6|
|    Ludovico|Scarfiotti|1933-10-18|             Italian|    1|
|José Froilán|  González|1922-10-05|           Argentine|    2|
|     Johnnie|   Parsons|1918-07-04|            American|    1|
|     Alberto|    Ascari|1918-07-13|             Italian|   13|
|   Giancarlo|  Baghetti|1934-12-25|             Italian|    1|
|        Nico|   Rosberg|1985-06-27|              German|   23|
|       Pedro| Rodríguez|1940-01-18|             Mexican|    2|
|        Mika|  Häkkinen|1968-09-28|             Finnish|   20|
|     Michele|  Alboreto|1956-12-23|             Italian|    5|
|        Jean|     Alesi|1964-06-11|              French|    1|
|      Pastor| Maldonado|1985-03-09|          Venezuelan|    1|
|        Kimi| Räikkönen|1979-10-17|             Finnish|   21|
|         Dan|    Gurney|1931-04-13|            American|    4|
|       Jimmy|     Bryan|1926-01-28|            American|    1|
|       Denny|     Hulme|1936-06-18|       New Zealander|    8|
+------------+----------+----------+--------------------+-----+
only showing top 20 rows

Todas as vitorias do piloto "Michael Schumacher", com primeiro nome, ultimo nome, nome da corrida e data da corrida.

In [ ]:
path = '/content/Formula1/circuits.csv'
df_circuitos = spark.read.csv(path, sep=',', inferSchema=True, header=True)

In [ ]:
from pyspark.sql.functions import col
Tabela_f1.join(df_circuitos, col('etapa') == col('circuitId'), how = 'inner')\
    .select('prim_nome','ult_nome','name', 'ano').where('id_piloto == 30 AND posicao == 1')\
    .show()

+---------+----------+--------------------+----+
|prim_nome|  ult_nome|                name| ano|
+---------+----------+--------------------+----+
|  Michael|Schumacher|Circuit de Barcel...|2006|
|  Michael|Schumacher|       Istanbul Park|2006|
|  Michael|Schumacher|      Hockenheimring|2006|
|  Michael|Schumacher|         Hungaroring|2006|
|  Michael|Schumacher|Valencia Street C...|2006|
|  Michael|Schumacher|Marina Bay Street...|2006|
|  Michael|Schumacher|       Fuji Speedway|2006|
|  Michael|Schumacher| Silverstone Circuit|2005|
|  Michael|Schumacher|Albert Park Grand...|2004|
|  Michael|Schumacher|Sepang Internatio...|2004|
|  Michael|Schumacher|Bahrain Internati...|2004|
|  Michael|Schumacher|Circuit de Barcel...|2004|
|  Michael|Schumacher|       Istanbul Park|2004|
|  Michael|Schumacher|Circuit Gilles Vi...|2004|
|  Michael|Schumacher|Circuit de Nevers...|2004|
|  Michael|Schumacher| Silverstone Circuit|2004|
|  Michael|Schumacher|      Hockenheimring|2004|
|  Michael|Schumacher|         Hungaroring|2004|
|  Michael|Schumacher|Valencia Street C...|2004|
|  Michael|Schumacher|Circuit de Spa-Fr...|2004|
+---------+----------+--------------------+----+
only showing top 20 rows

Total de pontos que cada pais (piloto) somou ao longo das temporadas.

In [ ]:
from pyspark.sql.functions import col, sum
Tabela_f1.join(df_driverstand, col('id_piloto') == col('driverId'), how = 'inner')\
    .groupBy('nacionalidade_piloto').agg(sum('points')).show(1000)

+--------------------+------------------+
|nacionalidade_piloto|       sum(points)|
+--------------------+------------------+
|             Mexican|         3116668.0|
|           Rhodesian|             660.0|
|             Finnish|       1.1587739E7|
|               Swiss|          276638.0|
|                Thai|          103390.0|
|              Indian|            2640.0|
|       South African|          237177.0|
|             Chinese|            2457.0|
|          Indonesian|               0.0|
|   Argentine-Italian|               0.0|
|             Chilean|            1110.0|
|               Irish|            8232.0|
|           Argentine|456755.93999999994|
|              Polish|          272052.0|
|             British|      2.30939216E7|
|            Japanese|          178000.0|
|          Australian|         5800323.0|
|             Spanish|         9020643.0|
|          Portuguese|            2622.0|
|           Hungarian|             200.0|
|            Austrian|         1382432.0|
|       New Zealander|          373870.5|
|             Italian|2720921.0700000003|
|              Danish|          362899.0|
|    American-Italian|               0.0|
|         East German|               0.0|
|             Russian|          276474.0|
|              French| 4639343.470000001|
|           Malaysian|               0.0|
|           Colombian|          262200.0|
|               Dutch|         3526609.0|
|           Uruguayan|               0.0|
|           Brazilian|         7104646.5|
|     Liechtensteiner|               0.0|
|          Monegasque|         1058052.0|
|              German|       2.0176864E7|
|          Venezuelan|           74818.0|
|             Swedish|          290418.0|
|            American|          435777.0|
|             Belgian|          323982.0|
|               Czech|               0.0|
|            Canadian|          665199.0|
+--------------------+------------------+

Total de pontos que cada equipe somou ao longo das temporadas.

In [ ]:
path = '/content/Formula1/constructor_standings.csv'
df_constrstad = spark.read.csv(path, sep=',', inferSchema=True, header=True)

In [ ]:
from pyspark.sql.functions import col, sum
Tabela_f1.join(df_constrstad, col('id_construtor') == col('constructorStandingsId'), how = 'inner')\
.groupBy('nacionalidade_piloto').agg(sum('points')).show()

+--------------------+-----------+
|nacionalidade_piloto|sum(points)|
+--------------------+-----------+
|             Mexican|     3454.0|
|           Rhodesian|      457.0|
|             Finnish|    17291.0|
|               Swiss|     4749.0|
|                Thai|      806.0|
|              Indian|     2574.0|
|       South African|     2045.0|
|             Chinese|     1431.0|
|   Argentine-Italian|       30.0|
|                null|        7.0|
|             Chilean|      303.0|
|               Irish|      545.0|
|           Argentine|     7309.0|
|              Polish|      846.0|
|             British|    68995.0|
|            Japanese|     5799.0|
|          Australian|    15540.0|
|             Spanish|     9054.0|
|          Portuguese|     1156.0|
|           Hungarian|      504.0|
+--------------------+-----------+
only showing top 20 rows